<% include ../partials/header %>

<div class="container text-center">
    <h1>Edit Campground "<%= campground.name %>"</h1>
    <hr>
    <div class="row">
        <div class="col-md-6 loginCol">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="camp[name]" value="<%= campground.name%>"> 
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="camp[price]" value="<%= campground.price %>" min="1.00" step="1.00" required> 
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="camp[description]" value="<%= campground.description%>">
                </div>
                <div class="form-group ">
                    <div class="input-group">
                        <label title="Upload a different image - old image will be deleted" for="imageUpload" class="btn btn-info btn-md input-group-addon"><i class="fas fa-cloud-upload-alt"></i></label>
                        <input id="imageUpload" class="form-control text-left" type="file" name="image" accept="image/*">
                    </div>
                </div>
                <div class="form-group">
                        <input id="location" class="form-control invisible" type="text" name="camp[location]" value="<%= campground.location%>">
                </div>
                <div class="form-group">
                        <input id="lng" class="form-control invisible" type="text" name="camp[lng]" value="<%= campground.lng%>">
                </div>
                <div class="form-group">
                        <input id="lat" class="form-control invisible" type="text" name="camp[lat]" value="<%= campground.lat%>">
                </div>
                <div class="form-group">
                    <input class="btn btn-success btn-md btn-block" type="submit">
                </div>
            </form>
        </div>
        <div class="col-md-6 loginCol">
                <!-- Map to set location of Campground -->
                <div id='map'></div>
        </div>
    </div>
    <hr>
    <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
    <p></p>
    <script>
            var coordinates = [];
            coordinates.push(Number(document.getElementById('lng').value));
            coordinates.push(Number(document.getElementById('lat').value));
            console.log(coordinates);
            mapboxgl.accessToken = 'pk.eyJ1IjoicG9sc3RlcnAiLCJhIjoiY2p3aDBtMWpiMWVqNTN5bzZuODdpb2wyaCJ9.FggWI4ja-YgsUD2cLk-RMA';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: coordinates,
                zoom: 10
            });
            var marker = new mapboxgl.Marker({
                color: 'orange'
            })
                    .setLngLat(coordinates)
                    .addTo(map);

            var geocoder = new MapboxGeocoder({
                    accessToken: mapboxgl.accessToken,
                    marker: {
                    color: 'orange'
                    },
                    mapboxgl: mapboxgl
            });
            map.addControl(geocoder);
    
            map.on('load', function() {
    
                // Listen for the `geocoder.input` event that is triggered when a user
                // makes a selection 
                geocoder.on('result', function(ev) {
                    marker.remove();
                    //console.log("Geocoder event");
                    var styleSpec = ev.result;
                    //var styleSpecBox = document.getElementById('json-response');
                    var styleSpecText = JSON.stringify(styleSpec, null, 2);
                    var result = JSON.parse(styleSpecText);
                   // console.log(result);
                    console.log(result["center"][0]);
                    console.log(result["center"][1]);
                    console.log(result["text"]);
                    document.getElementById('location').value = result["text"];
                    document.getElementById('lng').value = result["center"][0];
                    document.getElementById('lat').value = result["center"][1];
                });
            });
    </script>
<% include ../partials/footer %>
