<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active"><%= campground.location %></li>
                <li class="list-group-item">Lng: <span id="lng"><%= campground.lng %></span></li>
                <li class="list-group-item">Lat: <span id="lat"><%= campground.lat %></span></li>
            </div>
            <div id='mapShow'></div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">$<%= campground.price %>/night</h4>
                    <h4><%= campground.name %></h4>
                    <p><%= campground.description %></p>
                    <p>
                       <em>Submitted by <%= campground.author.username %></em>
                    </p>
                    <!-- currentUser is coming from app.js where I defined req.user for every route to be availalbe under the name currentUser -->
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit"><i class="fas fa-pen"></i></a>
                    <form class="deleteButton" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                        <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success btn-md">Add new Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p><%= comment.text %></p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"><i class="fas fa-pen"></i></a>
                                <form class="deleteButton" action="/campgrounds/<%= campground._id%>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger"><i class="fas fa-trash"></i></button>
                                </form>
                            <% } %>
                            <hr>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<script src='https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js'></script>
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
<script>
    var coordinates = [];
    coordinates.push(Number(document.getElementById('lng').textContent));
    coordinates.push(Number(document.getElementById('lat').textContent));
    //console.log(coordinates);
    mapboxgl.accessToken = 'pk.eyJ1IjoicG9sc3RlcnAiLCJhIjoiY2p3aDBtMWpiMWVqNTN5bzZuODdpb2wyaCJ9.FggWI4ja-YgsUD2cLk-RMA';
    var map = new mapboxgl.Map({
        container: 'mapShow',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: coordinates,
        zoom: 13
    });
    var marker = new mapboxgl.Marker()
            .setLngLat(coordinates)
            .addTo(map);
</script>

<% include ../partials/footer %>